<table class="table table-striped">
<thead>
	<tr>
		<th>No.</th>
		<th>Наименование</th>
		<th>Количество</th>
		<th>Цена</th>
		<th>Итого за позицию</th>
	</tr>
</thead>
<tbody>
<% numbr = 1 %>
<% @ord_hash.each do |k,v| %>
	<tr>
		<td><%=numbr%></td>
		<td><%=k%></td>
		<td><%=v%></td>
		<td>1</td>
		<td>2</td>
	</tr>
<% numbr = numbr + 1 %>
<%end%>
</tbody>
</table>