	<h2>Ваш заказ принят</h2>

	<script type="text/javascript">
	//$('#chgonclick').css('background-color','#505050');
	$(function() {
	//	$('select[id="colorpicker"]').simplecolorpicker('selectColor', '#e1e1e1');
		clear_cart();
	  update_orders_input();
	  update_ord_btn();
	  window.setTimeout(function(){

        // Move to a new location or you can do something else
        window.location.href = "http://pizza.dexp.club";

    }, 7000);

	});
	</script>
