			<%if session[:identity] then %>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Date and time</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>A</td>
						<td>1.2.3</td>
					</tr>
					<tr>
						<td>2</td>
						<td>B</td>
						<td>3.4.5</td>
					</tr>
					<tr>
						<td>3</td>
						<td>C</td>
						<td>5.6.7</td>
					</tr>
				</tbody>
			</table>
			<% end %>